@font-face {
	font-family: 'Rupee Foradian';
	src: url(../../assets/fonts/RupeeForadian.woff2) format('woff2'),
	url(../../assets/fonts/RupeeForadian.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}